<nav>
    <ul class="iconos">
        <li><a href="/"><img src="/icons/home.svg" alt="icono home"></a></li>
        <li><a href="/about"><img src="/icons/about.svg" alt="icono about"></a></li>
        <li><a href="/contact"><img src="/icons/contact.svg" alt="icono contact"></a></li>
    </ul>
    <ul class="palabras">
        <li><a href="/api/heroes/dashboard">Dashboard</a></li>
        <li><a href="/api/heroes/obtener">Superheroes</a></li>
    </ul>
</nav>